{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Activity edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('activity_show', { id : entity.id }) }}">
                Retour à l'activité
            </a>
        </li>
        {% if is_granted("ROLE_SCENARIO_DELETE") %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
