{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Activity creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('scenario_show', { id : entity.scenario.id }) }}">
            Retour au scenario
        </a>
    </li>
</ul>
{% endblock %}
