{% extends "FOSUserBundle::layout.html.twig" %}
	

{% block fos_user_content %}
	<div> 
		<h2> Editez votre profil </h2> 
	</div>

	{% include "FOSUserBundle:Profile:edit_content.html.twig" %}

{% endblock fos_user_content %}
