{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création d'un nouveau moyen de mobilité</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mobility') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
