imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version:  v2
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        lessphp:
            apply_to: "\.less$"
            # Formatter options: compressed, lessjs, classic
            formatter: "compressed"
            preserve_comments: false
            presets:
                my_variable: "#000"
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"
        types:
            json: Sonata\Doctrine\Types\JsonType
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            ApplicationSonataUserBundle: ~
            SonataUserBundle: ~
            FOSUserBundle: ~

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: Application\Sonata\UserBundle\Entity\User
    group:
        group_class:   Application\Sonata\UserBundle\Entity\Group
        group_manager: sonata.user.orm.group_manager                    # If you're using doctrine orm (use sonata.user.mongodb.group_manager for mongodb)
    service:
        user_manager: sonata.user.orm.user_manager                      # If you're using doctrine orm (use sonata.user.mongodb.user_manager for mongodb)
    registration:
        form:
            type: app_user_registration

sonata_admin:
    title: Breizh Trotter Admin
    title_logo: /bundles/sonataadmin/logo_title.png
    templates:
       # default global templates
        layout: SonataAdminBundle::standard_layout.html.twig
        ajax:   SonataAdminBundle::ajax_layout.html.twig

        # default actions templates, should extend a global templates
        list:   SonataAdminBundle:CRUD:list.html.twig
        show:   SonataAdminBundle:CRUD:show.html.twig
        edit:   SonataAdminBundle:CRUD:edit.html.twig
    dashboard:
        blocks:
           # display a dashboard block
            - { position: left, type: sonata.admin.block.admin_list }
    security:
        handler: sonata.admin.security.handler.acl
        # acl security information
        information:
            GUEST:   [VIEW, LIST]
            STAFF:   [EDIT, LIST, CREATE]
            EDITOR:  [OPERATOR, EXPORT]
            ADMIN:   [MASTER]
        # permissions not related to an object instance and also to be available when objects do not exist
        # the DELETE admin permission means the user is allowed to batch delete objects
        admin_permissions: [CREATE, LIST, DELETE, UNDELETE, EXPORT, OPERATOR, MASTER]
        # permission related to the objects
        object_permissions: [VIEW, EDIT, DELETE, UNDELETE, OPERATOR, MASTER, OWNER]

sonata_user:
    security_acl: true
    manager_type: orm # can be orm or mongodb

# Sonata Configuration
sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]

        sonata.block.service.text:
        sonata.block.service.action:
        sonata.block.service.rss:
        sonata.user.block.menu:    # used to display the menu in profile pages
        sonata.user.block.account: # used to display menu option (login option)

sonata_doctrine_orm_admin:
   # default value is null, so doctrine uses the value defined in the configuration
    entity_manager: ~

    templates:
        form:
           - SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig
        filter:
           - SonataDoctrineORMAdminBundle:Form:filter_admin_fields.html.twig
        types:
            list:
                array:     SonataAdminBundle:CRUD:list_array.html.twig
                boolean:   SonataAdminBundle:CRUD:list_boolean.html.twig
                date:      SonataAdminBundle:CRUD:list_date.html.twig
                time:      SonataAdminBundle:CRUD:list_time.html.twig
                datetime:  SonataAdminBundle:CRUD:list_datetime.html.twig
                text:      SonataAdminBundle:CRUD:base_list_field.html.twig
                trans:     SonataAdminBundle:CRUD:list_trans.html.twig
                string:    SonataAdminBundle:CRUD:base_list_field.html.twig
                smallint:  SonataAdminBundle:CRUD:base_list_field.html.twig
                bigint:    SonataAdminBundle:CRUD:base_list_field.html.twig
                integer:   SonataAdminBundle:CRUD:base_list_field.html.twig
                decimal:   SonataAdminBundle:CRUD:base_list_field.html.twig
                identifier: SonataAdminBundle:CRUD:base_list_field.html.twig

            show:
                array:     SonataAdminBundle:CRUD:show_array.html.twig
                boolean:   SonataAdminBundle:CRUD:show_boolean.html.twig
                date:      SonataAdminBundle:CRUD:show_date.html.twig
                time:      SonataAdminBundle:CRUD:show_time.html.twig
                datetime:  SonataAdminBundle:CRUD:show_datetime.html.twig
                text:      SonataAdminBundle:CRUD:base_show_field.html.twig
                trans:     SonataAdminBundle:CRUD:show_trans.html.twig
                string:    SonataAdminBundle:CRUD:base_show_field.html.twig
                smallint:  SonataAdminBundle:CRUD:base_show_field.html.twig
                bigint:    SonataAdminBundle:CRUD:base_show_field.html.twig
                integer:   SonataAdminBundle:CRUD:base_show_field.html.twig
                decimal:   SonataAdminBundle:CRUD:base_show_field.html.twig

sonata_media:
    default_context: default
    db_driver: doctrine_orm # or doctrine_mongodb, doctrine_phpcr
    contexts:
        default: # the default context is mandatory
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file
            formats:
                small: { width: 100 , quality: 70}
                big: { width: 500 , quality: 70}
    cdn:
        server:
            path: /uploads/media
    filesystem:
        local:
            directory: %kernel.root_dir%/../web/uploads/media
            create: false