/*****************************************************************
*	CUSTOM CSS
*/
/* line 5, stdin */
html, body {
  box-sizing: border-box; }

/* line 8, stdin */
body {
  max-width: 1260px;
  margin: 0 auto; }

/* line 13, stdin */
#wrapper {
  margin-top: 100px; }

/*****************************************************************
*	Nav-bar top
*/
/* line 21, stdin */
.navbar-fixed-top .logout {
  float: right;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  margin-right: 150px; }

/* line 30, stdin */
.dropdown .dropdown-menu {
  background-color: #f8f8f8;
  border-color: #e7e7e7; }

/* line 35, stdin */
.dropdown:hover .dropdown-menu {
  display: block; }

/*****************************************************************
*	Layer FSOUserBundle
*/
/* line 46, stdin */
#form-connection .row {
  text-align: center;
  margin-top: 50px; }

/* line 50, stdin */
#form-connection .account-wall {
  max-width: 600px;
  margin: 80px auto 0; }
  /* line 53, stdin */
  #form-connection .account-wall input {
    margin-bottom: 15px; }
  /* line 56, stdin */
  #form-connection .account-wall #remember_me {
    width: 20px;
    float: left;
    margin-right: 15px; }
  /* line 61, stdin */
  #form-connection .account-wall #_submit {
    margin: 100px auto 0;
    max-width: 350px; }

/* line 68, stdin */
#user-container {
  margin-top: 100px; }
