{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Constraint edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        {% for activity in entity.activities %}
            <li>
                <a href="{{ path('activity_show', { 'id': activity.id }) }}">
                    Back to the activity {{ activity.name }}
                </a>
            </li>
        {% endfor %}
        {% if is_granted("ROLE_SCENARIO_DELETE") %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
