{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création d'une nouvelle contrainte</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('activity_show', { 'id': activity.id }) }}">
                Retour à l'activité
            </a>
        </li>
    </ul>
{% endblock %}
