{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>BREIZH TROTTEUR</h1>
                <a href="./login">
                    <h3>Connection</h3>
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href=" {{ asset('../css/main.css') }}" rel="stylesheet" />     
{% endblock %}