<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %} BreizhTrotteur {% endblock %}</title>
		
		{% block stylesheets %}
<<<<<<< HEAD
			<link href=" {{ asset('css/master.css') }}" rel="stylesheet" />
=======
			<link href=" {{ asset('./../css/style.css') }}" rel="stylesheet" />
>>>>>>> 477961a212603e6f77582a9681ad561840fa9532
		{% endblock %}

		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	
	<body>
		{% include "::navbarTop.html.twig" %}
      
		{% block body %}{% endblock %}
	</body>
	
	<footer>
		{% block javascripts %}
			<link href=" {{ asset('js/bootstrap.min.js') }}" rel="stylesheet" />
		{% endblock %}
	</footer>
</html>
