{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3>Bonjour {{ app.user.username }}</h3>

            </div>
        </div>
    </div>
{% endblock %}