<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">BreizhTrotteur</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				{% if is_granted('ROLE_SCENARIO_LIST') %}
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scenarios<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/scenario">Mes scénarios</a></li>
						<li><a href="/scenario/new">Créer un scénario</a></li>
					</ul>
				{% endif %}
				{% if is_granted('ROLE_EQUIPMENT') %}
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Equipements<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/equipment">Mes équipements</a></li>
							<li><a href="/equipment/new">Créer un équipement</a></li>
						</ul>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mobilités<span class="caret"></span></a>
				{% endif %}
				{% if is_granted('ROLE_MOBILITY') %}
					<ul class="dropdown-menu">
						<li><a href="/mobility">Mes mobilités</a></li>
						<li><a href="/mobility/new">Créer une moyen de mobilité</a></li>
					</ul>
				{% endif %}
			</ul>
			<div class="logout">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<a href="{{ path('fos_user_security_logout') }}">
						{{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
					</a>
	        	{% endif %}
			</div>
			<div class="private-space">
				<a href="/admin">Espace privé</a>
			</div>
		</div>
	</div>
</nav>  