{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Equipement</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('equipment') }}">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('equipment_edit', { 'id': entity.id }) }}">
                Modifier
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
