{% extends '::base.html.twig' %}

{% block body -%}

<div id="new_action" class="form-container form row">
    <h1>Nouveau Scenario</h1>

    {{ form(form) }}

	<ul class="record_actions">
	    <li>
	        <a href="{{ path('ens_action') }}">
	            Back to the list
	        </a>
	    </li>
	</ul>
</div>
{% endblock %}
